.title{
    margin:0;
}

.nav_blogs{
    padding: 0.85rem;
    background-color: #0f3057;
    color: white;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search_input{
    padding: 0.4rem;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.search_input:focus{
    outline: none;
}

.search_button:focus{
    outline: none;
}


.search_button{
    padding: 0.35rem;
    margin-left: 0.3rem;
    border-radius: 10px;
    border: none;
}

.dropdown:hover .options-content {
    display: flex;
    flex-direction: column;
  }

.options-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.blogHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* cover image file input */
.cover-input {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* Pagination section */

.page-ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: center;
}

.page-li{
    text-decoration: none;
    background-color: #fff;
    border-style: solid;
    border-width: thin;
    padding:0.25rem 0.5rem 0.25rem 0.5rem;
    border-color: #dee3e2;
}

.page-number{
    text-decoration: none;
    color: #0779e4;
}

.confeti {
    left: 50%;
}

/* button */
  
.new-blog-button{
    color: rgb(54, 54, 54);
    background-color: white;
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
}
