* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #161d6f;
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
Link {
  text-decoration: none;
}
.container {
  margin: 30px auto;
  padding: 20px;
  max-width: 400px;
}
.form-wrap {
  background-color: #edeef7;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
}
.form-wrap h1,
.form-wrap p {
  text-align: center;
  color: #161d6f;
}

.form-wrap .form-group .label {
  display: block;
  color: #161d6f;
  margin-top: -25px;
}
.form-wrap .form-group .input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}
.btn {
  display: block;
  color: #fff;
  background: #7868e6;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.form-wrap .btn:hover {
  background-color: #161d6f;
}
.redirect {
  display: inline-block;
}
.form-wrap .bottom-text {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 10px;
}
footer .link {
  color: #7868e6;
}
footer .link:hover {
  color: #161d6f;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
}
